<ion-view title="DemoApp">
	<ion-content>
			<ion-list>
				<label class="item item-input">
				 	<span class="input-label" >Enter anything</span>
					<input type="text" placeholder="Type something" name="Test" ng-model="settings.netmask" >
				</label>
				<label class="item item-input">
				 	<span class="input-label" >Foo</span>
					<input type="text" placeholder="Type something" name="Foo" ng-model="settings.foo" >
				</label>
				<label class="item item-input">
				 	<span class="input-label" >SomeNumber</span>
					<input type="number" placeholder="Type something" name="Any number by keyboard" ng-model="settings.number" >
				</label>
			</ion-list>
	</ion-content>
</ion-view>