* {
	cursor: url(../img/transparent.png), auto;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.day{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	height: 90px;
	width: 90px;
	border: 1px solid #000;
	background-color: #fff;
	color : #000;
}

.month{
	display: inline-block;
	height: 140px;
	width: 140px;
	border: 1px solid #000;
	background-color: #fff;
	color : #000;
}

.year{
	display: inline-block;
	height: 60px;
	width: 60px;
	border: 1px solid #000;
	background-color: #fff;
	color : #000;
}

.splash {
	z-index: 9999;
	position: absolute;
	top : 0px;
	bottom: 0px;
	width: 800px;
	height: 600px;
	background-color: #000;
	color : #fff;
	font-size: 50px;
	padding-top  : 80px;
}

[ng-cloak].splash {
  display: block !important;
}
.splash {display: none;}

.year, .month, .day {
	text-align: center;
	margin: 3px; 
}

.year {
	padding-right: auto auto;

}

.input-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background-color: #fff;
}



.keyboardBody {
	background-color:#b3c0d3;
	width:100%;
	height:100%;
	border-top:1px solid #333;
	z-index: 99999;
}




.cashier.keyboardBody
{
	padding-top: 5px;
	margin-top: 120px;
	padding-left:35px;
}



.touched {
	background-color: #ccc;
}


.keyboardbutton {
    background-color:#fff;
    position:relative;
    float:left;
    drop-shadow : 4px;
    box-shadow: 0px 0px 2px #000000;
}


.topup4 .keyboardbutton 
{
	padding-top: 4px;
    border-radius: 2px;
    width:41px; 
    height:38px;
    margin-right:5px;
    margin-top:5px;
    font-size:1.1em;
}


.topup4.keyboardBody
{
	padding-left:10px;
}


.topup4 .buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.topup4 .button_a {margin-left:20px}
.topup4 .button_dash {margin-left:20px;}
.topup4 .button_underscore {margin-left:20px;}
.topup4 .button_enter {width:50px; background-color: #6bde26}
.topup4 .button_del{width: 50px; background-color: #eaf326}
.topup4 .button_shift_left{width: 50px}
.topup4 .button_space {width:250px;}
.topup4 .button_switch_layout {width: 50px;}

.topup4 .button_row3_last_char {margin-right: 15px}
.topup4 .button_row3_first_char {margin-left: 15px}

.topup4 .key {width:100%; height:100%; text-align:center; padding-top:5px; text-shadow: 0px 1px 1px #ffffff;}
.topup4 .key_del {padding-top:5px;}
.topup4 .key_enter {padding-top:5px;}
.topup4 .key_smallletter {padding-top:5px;}
.topup4 .key_capitalletterleft {padding-top:5px;}
.topup4 .key_capitalletterright {padding-top:5px;}
.topup4 .key_number {padding-top:5px;}
.topup4 .key_symbols {padding-top:5px;}
.topup4 .key_plus {margin-right:20px;}


.cashier .keyboardbutton 
{
	padding-top: 13px;
    width:70px; 
    height:65px;
    margin-right:5px;
    margin-top:5px;
    font-size:1.5em;
}



.cashier .buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.cashier .button_a {margin-left:30px}
.cashier .button_dash {margin-left:20px;}
.cashier .button_underscore {margin-left:20px;}
.cashier .button_enter {width:100px; background-color: #6bde26}
.cashier .button_del{width: 100px; background-color: #eaf326}
.cashier .button_shift_left{width: 100px}
.cashier .button_space {width:370px;}
.cashier .button_switch_layout {width: 100px;}

/*.cashier .button_row3_last_char {margin-right: 15px}*/
/*.cashier .button_row3_first_char {margin-left: 15px}*/

.cashier .key {width:100%; height:100%; text-align:center; padding-top:5px; text-shadow: 0px 1px 1px #ffffff;}
.cashier .key_del {padding-top:5px;}
.cashier .key_enter {padding-top:5px;}
.cashier .key_smallletter {padding-top:5px;}
.cashier .key_capitalletterleft {padding-top:5px;}
.cashier .key_capitalletterright {padding-top:5px;}
.cashier .key_number {padding-top:5px;}
.cashier .key_symbols {padding-top:5px;}
.cashier .key_plus {margin-right:20px;}

.telKeyboard {
	width: 200px;
	margin : 0px auto auto auto;
}

.telKeyboard .keyboardbutton .button_del{
	color: red;
	width: 55px;
}

#signal-strength {
  padding-top: 7px;
  height: 29px;
  list-style: none;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
}

#signal-strength li {
  display: inline-block;
  width: 6px;
  border : 1px;
  float: left;
  height: 100%;
  margin-right: 1px;
}

#signal-strength li.pretty-strong {
  padding-top: 0px;
}

#signal-strength li.strong {
  padding-top: 6px;
}

#signal-strength li.weak {
  padding-top: 12px;
}

#signal-strength li.very-weak {
  padding-top: 18px;
}


#signal-strength li div {
  height: 100%;
  background: #ccc;
}

#signal-strength li div.active{
	background: #333;
}

#overlay {
	position: absolute;
	z-index: 99999;
	background-color: #fff;
	border: 1px solid #333;
	width: 50px;
	height: 30px;
	right : 10px;
	bottom: 10px;
}
