<ion-view title="Mobile network settings">
	<ion-content class="has-header">
		<ion-list>
			<div >
				<label class="item item-input">
				 	<span class="input-label">APN</span>
					<input type="text"  ng-model="settings.apn">
				</label>
				<label class="item item-input">
				 	<span class="input-label">Username</span>
					<input type="text"  ng-model="settings.user">
				</label>
				<label class="item item-input">
				 	<span class="input-label">Password</span>
					<input type="text"  ng-model="settings.password">
				</label>
			</div>
		</ion-list>
	</ion-content>
</ion-view>