<ion-view title="Wifi" >
	<ion-content >
		<div ng-hide="aps">
			<center>
				<h1>
					<i class="icon ion-looping"></i>
				</h1>
			</center>			
		</div>
		<ion-list class="list">
			<ion-item  href="#/ap/{{ap}}" ng-repeat="(ap, props)  in aps | orderBy : 'props.strength'" class="item item-button-right" >
				<h2>{{ap}}</h2>
				<button class="button button-clear">
					<p ng-if="ap == currentWifiNetwork.ssid">Connected&nbsp&nbsp</p>
					<img ng-if="!props.encryption_any" ng-src="img/wifi_{{getLevel(props.strength)}}.png">
					<img ng-if="props.encryption_any" ng-src="img/wifi_{{getLevel(props.strength)}}enc.png">
				</button>
			</ion-item>
		</ion-list>	
	</ion-content>
</ion-view>